<html lang="es">

<head>
    <meta charset="utf-8">

    <title>Comunidad Sociedad del Aprendizaje</title>
    <meta name="description" content="Aprender es una Actitud">
    <meta name="author" content="comunidadLSA">

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
    <h3>¡Email confirmado!</h3>
    <br />
    <br />
    <p>En unos segundos te redirigiremos a la web de la <strong>Comunidad Sociedad del Aprendizaje.</strong></p>
    <p><i>Si tu navegador no lo hace automáticamente puedes pinchar en el siguiente enlace: <a href="https://comunidadlsa.es/login">Comunidad LSA</a></i></p>
    <!-- <script src="js/scripts.js"></script> -->
    <script>
        setTimeout(function () {
                window.location.href = "https://comunidadlsa.es/login"; //will redirect to your blog page (an ex: blog.html)
            }, 10000); //will call the function after 2 secs.
    </script>
</body>

</html>